################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchultzN-CA6-JS1-BIO_new/.vs/SchultzN-CA6-JS1-BIO_new
/SchultzN-CA6-JS1-BIO_new/SchultzN-CA6-JS1-BIO_new.sln
/.vs
